ul {
  margin: 0;
  padding: 0;
}

.card-containe a img {
  border-radius: 5px;
  max-width: 280px;
}

.categoriesButton {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
  width: 100vw;
}

.content-categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.content-categories button {
  background-color: white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
}


.recipe-containe {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  width: 100vw;
}

.recipe-containe ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  width: 60vw;
}

.card-containe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
}

.card-nome {
  background-color: #00000091;
  bottom: 0;
  display: flex;
  height: 40%;
  justify-content: space-between;
  margin: 10px;
  position: absolute;
  text-align: center;
  width: 260px;
}

.card-contente {
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.card-contente > span {
  margin-left: 10px;
  text-align: left;
}

.card-contente-button {
  color: white;
  display: flex;
  font-weight: 700;
}

.card-contente-button > button {
  background-color: transparent;
  border: none;
  margin-top: 5px;
}

.content-trending {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100vw;
}

.title {
  margin-left: 30px;
}
