footer {
  bottom: 0;
  display: flex;
  position: fixed;
}

.marked {
  text-decoration: line-through solid black;
}

.btn-finish-recipe {
  bottom: 0;
  display: flex;
  position: fixed;
}

/* img {
  height: 50vh;
  width: 50vw;
} */
